body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('assents/images/דקים-מעץ.jpg');
    background-size: cover;
    background-position: center;
}

.task-board {
    background: bisque;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.task-board h1 {
    font-size: large;
    margin-bottom: 20px;
    color: #333;
}

#task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task-form input, #task-form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#task-form button {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

#task-form button:hover {
    background-color: #434343;
}

#task-container {
    margin-top: 20px;
}

.task-item {
    background-image: url('assents/images/8a8021.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item button {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.task-item button:hover {
    background: #000000;
}
